{% extends 'base.html' %}

{% block title %}
  Карта пациента
{% endblock %}
{% block content %}
    <h2>Пациент</h2>
    <ul>
        <li>{{ object.name }} {{ object.last_name }} {{ object.middle_name }}</li>
        <li>{{ object.phone }}</li>
        {% if object.note %}
            <li>{{ object.note }}</li>
        {% endif %}
    </ul>
    {% if receptions %}
    <ul>
    Приемы:
        {% for reception in receptions %}
            <li>
            <a href={{ reception.get_absolute_url }}>
                {{ reception }}
            </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    <ul>
    <a class="btn btn-primary" href="{% url 'receptions:create_reception' %}?patient={{ object.id }}">
          Добавить прием
    </a>
    <br>
    </ul>
    <a class="btn btn-primary" href="{% url 'receptions:update_patient' object.id %}">
          Редактировать запись
    </a>
{% endblock %}