{% extends 'base.html' %}

{% block title %}
  Прием
{% endblock %}
{% block content %}
    <h2>Прием от: {{ object.date }}</h2>
    <ul>
        <li>
            Пациент:
            <a href="{% url 'receptions:patient' object.patient.id %}">
                {{ object.patient.name }} {{ object.patient.last_name }} {{ object.patient.middle_name }}
            </a>
        </li>
        <li>Врач: {{ object.doctor.first_name }} {{ object.doctor.last_name }}</li>
        {% if diagnosis %}
            <hr>
            <h7>Поставленный диагноз:</h7>
            {% for diag in diagnosis %}
                <li>{{ diag.text }}</li>
            {% endfor %}
        {% endif %}
        {% if procedures %}
            <hr>
            <h7>Проведеные процедуры:</h7>
            {% for proc in procedures %}
                <li>{{ proc.text }}</li>
            {% endfor %}
        {% endif %}
    </ul>
    <a class="btn btn-primary" href="{% url 'receptions:update_reception' object.id %}">
          редактировать запись
    </a>
    <br>
    <a class="btn btn-primary" href="{% url 'receptions:delete_reception' object.id %}">
          удалить запись
    </a>
{% endblock %}